:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --focus-text-color: #ffffff;
  --logo-text-color: #000000;
  --link-text-color: rgba(255, 255, 255, 0.6);
}
body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
}
ul {
  list-style: none;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
.logo {
  color: var(--logo-text-color);
}
.links a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}
.links .studio-link {
  color: var(--accent-color);
}
.links .portfolio-link {
  color: var(--accent-color);
}

.links .link:hover,
.links .link:focus {
  text-decoration: none;
  color: var(--accent-color);
}

.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.mail-link:hover,
.mail-link:focus {
  text-decoration: none;
  color: var(--accent-color);
}

.phone-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.phone-link:hover,
.phone-link:focus {
  text-decoration: none;
  color: var(--accent-color);
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--focus-text-color);
  background: #2f303a;
}

.main-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--focus-text-color);
  cursor: pointer;
}
.main-button:hover,
.main-button:focus {
  background: #2196f3;
}
.main-button:active {
  background-color: #0d88ec;
}
.main-section {
  background-color: #2f303a;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.employees {
  background-color: #f5f4fa;
}
.employees li {
  background-color: #ffffff;
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.name-card {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.contacts {
  background: #2f303a;
}

.logo-white {
  color: var(--focus-text-color);
}
.map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--focus-text-color);
  text-decoration: none;
}
.map:hover,
.map:focus {
  text-decoration: none;
  color: var(--accent-color);
}
.mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-text-color);
  text-decoration: none;
}
.mail:hover,
.mail:focus {
  text-decoration: none;
  color: var(--accent-color);
}
.phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-text-color);
  text-decoration: none;
}
.phone:hover,
.phone:focus {
  text-decoration: none;
  color: var(--accent-color);
}
.address-footer {
  font-style: normal;
}
.button {
  background: #f5f4fa;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
}
.button:hover,
.button:focus {
  text-decoration: none;
  color: var(--focus-text-color);
  background-color: #2196f3;
}
.button:active {
  text-decoration: none;
  color: var(--focus-text-color);
  background-color: #0d88ec;
}
.button.primary {
  color: var(--focus-text-color);
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button.primary:hover,
.button.primary:focus {
  text-decoration: none;
  color: var(--focus-text-color);
  background-color: #2196f3;
}
.button.primary:active {
  text-decoration: none;
  color: var(--focus-text-color);
  background-color: #0d88ec;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-direction {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.filter {
  text-decoration: none;
}
